/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}

li{
  font-size: 14px;
  line-height: 1.5;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Custom Styles*/

/*green #00a84f
orange #f37735
gray #e8e8e7
*/

body{
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 60px;
  text-transform: uppercase;
}

h2{
  font-family: 'Roboto Slab', serif;
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
}

h3{
  font-family: 'Roboto Slab', serif;
  color: #00a84f;
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

h4{
  font-weight: 700;
  margin-bottom: 40px;
}

h5{
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
}

.hero{
  background-image: url(images/austin.jpg);
  background-position: center center;
  text-align: center;
  background-size: cover;
  min-height: 400px;
  position: relative;
}

.hero__content{
  position: absolute;
  top: 8%;
  left: 0;
  right:0;
}

.hero__content *{
  padding-bottom: 15px;
}

.contact{
  text-align: center;
  padding: 50px 0;
}
.contact h4{
  margin-bottom: 15px;
}

.contact p{
  width: 55%;
  margin: 0 auto 30px;
}

#phone{
  text-decoration: none;
  color: black;
}

form{
  width: 50%;
  margin: 0 auto;
}

input, textarea{
  width: 100%;
  border: 2px solid #00a84f;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 14px;
  box-sizing: border-box;
}


.team{
  padding: 50px 0;
  text-align: center;
}

.team__content{
  width: 75%;
  margin: 0 auto;
}

.team__content img{
  max-width: 150px;
  display: inline;
  margin-right: 25px;
  float: left;
}

.bio{
  margin: 30px 0;
  text-align: left;
}

p{
  font-size: 14px;
  line-height: 1.5;
  margin-top: 15px;
}

.bio__text{
  display: inline;
  text-align: left;
  vertical-align: top;
}

.more_text{
  display: none;
}

.read_more{
  color: #00a84f;
}

.read_more:hover{
  font-weight: bold;
}

.orange_button{
  text-transform: uppercase;
  color: white;
  background: #f37735;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 11px 19px;
  border: none;
  font-size: 13px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  width: 150px;
}

.orange_button:hover{
  background: darkorange;
}

.tidbits{
  background-color: #e8e8e7;
  text-align: center;
  padding: 50px 0;
}

.tidbits__container{
  width: 85%;
  margin: 0 auto;
}

.tidbit{
  width: 30%;
  display: inline-block;
  margin: 0 10px;
  text-align: left;
  vertical-align: top;
}

.img_holder{
  position: relative;
  overflow: hidden;
  width:100%;
  margin-bottom: 20px;
  height:250px;
}


@media (min-width: 1100px){
  .img_holder{
    height:350px;
  }
}

.tidbit img{
  position: absolute;
  display: block;
  height: 100%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  top:50%;
}


footer{
  background-color: black;
}

.social_media{
  padding: 8px;
  text-align: center;
}

.social_media a{
  display: inline-block;
  margin: 0 10px;
}
.social_media a img{
  height: 35px;
  -webkit-filter: brightness(0) invert();
  filter: brightness(0) invert();
}
.social_media a img:hover{
  filter: none;
  -webkit-filter: none;
}

.thanks{
  text-align: center;
  padding: 100px 30px;
  width: 60%;
  margin: 0 auto;
}
.thanks .icons{
  margin-top: 15px;
}
.thanks .icons a{
  display: inline-block;
  margin: 0 15px;
}

.thanks .icons a:hover img{
  -webkit-filter: brightness(0.6);
  filter: brightness(0.6);
}

.thanks #phone{
  font-weight: bold;
}
.thanks .icons img{
  height: 40px;
}

.thanks .orange_button{
  margin:20px;
}
/*mobile*/


@media  (max-width: 800px){

  h1{ font-size: 40px; }
  h2{ font-size: 30px; }

  .hero{
    min-height: 300px;
  }

  .hero__content{
    top: 2%;
  }

  .hero__content img{ max-width: 135px; }

  .team__content, .tidbits__container{
    width: auto;
    padding: 0 15px;
  }

  .tidbit{
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }

  .img_holder{
    display: inline-block;
    width:35%;
  }


  .tidbit__text{
    display: inline-block;
    width: 60%;
    vertical-align: top;
    margin-left: 20px;
  }

  form{
    width: 80%;
  }
}

@media (max-width: 600px){
  #texas{
    display: none;
  }

  .hero__content{
    top: 8%;
  }

  .img_holder{
    height:200px;
  }

  .tidbit img{
    left:75%;
  }
  .tidbit__text{
    width:55%;
  }
  .contact, .team{
    padding: 30px 15px;
  }
  .contact p{
    width: 80%;
  }

  .tidbits{
    padding: 30px 0 1px;
  }

}
